body {
  font-size: 1rem;
}

.card {
  align-items: center;
  background-color: #eeeeee;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  padding: 50px;
  border: 5px solid black;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.card:hover {
  background-color: lightskyblue;
  cursor: pointer;
}

.card:active {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

section {
  padding-bottom: 3.3rem;
}

.profile-image {
  background-color: black;
  border-radius: 50%;
  color: white;
  font-size: 32px;
  height: 250px;
  margin: 40px;
  width: 250px;
}

.fab {
  font-size: 5rem;
  margin-right: 1.2rem;
}
